@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Grechen+Fuemen&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Grechen+Fuemen&family=Monomakh&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Caveat&family=Grechen+Fuemen&family=Monomakh&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  background-color: bisque;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  background-color: darkgray;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  background-color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 50px;
  font-weight: heavy;
  color: springgreen;
  background-color: black;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Grechen Fuemen', sans-serif;
}

.didILetter {
  font-size: 75px;
  font-weight: normal;
  color: rgb(156, 103, 39);
  background-color: aquamarine;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.didDTwoLetter {
  font-size: 95px;
  font-weight: bold;
  color: turquoise;
  background-color: brown;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 30px;
  font-weight: normal;
  color: rgb(139, 0, 0);
  background-color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
}

.theHLetter {
  font-size: 65px;
  font-weight: bold;
  color: Cornsilk;
  background-color: black;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}

.theELetter {
  font-size: 40px;
  font-weight: 400;
  color: rgb(139, 69, 19);
  background-color: beige;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 65px;
  font-weight: normal;
  color: DarkOrange;
  background-color: yellowgreen;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendRLetter {
  font-size: 55px;
  font-weight: normal;
  color: DarkOrchid;
  background-color: chocolate;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}

.frontendOLetter {
  font-size: 39px;
  font-weight: bold;
  color: turquoise;
  background-color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendNLetter {
  font-size: 84px;
  font-weight: normal;
  color: DarkSalmon;
  background-color: violet;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}

.frontendTLetter {
  font-size: 76px;
  font-weight: 700;
  color: rgb(255, 140, 0);
  background-color: #282a56;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}

.frontendELetter {
  font-size: 83px;
  font-weight: normal;
  color: DarkSeaGreen;
  background-color: azure;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}

.frontendNTwoLetter {
  font-size: 90px;
  font-weight: 400;
  color: DodgerBlue;
  background-color: tomato;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}


.frontendDLetter {
  font-size: 30px;
  font-weight: normal;
  color: Gold;
  background-color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 45px;
  font-weight: normal;
  color: DarkTurquoise;
  background-color: blueviolet;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.developerELetter {
  font-size: 30px;
  font-weight: bold;
  color: Cornsilk;
  background-color: rgb(99, 49, 99);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}
.developerVLetter {
  font-size: 50px;
  font-weight: normal;
  color: DarkMagenta;
  background-color: aqua;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.developerETwoLetter {
  font-size: 65px;
  font-weight: 700;
  color: DimGray;
  background-color: yellow;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.developerLLetter {
  font-size: 39px;
  font-weight: bold;
  color: DarkCyan;
  background-color: rgb(99, 83, 60);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.developerOLetter {
  font-size: 20px;
  font-weight: bold;
  color: DarkViolet;
  background-color: brown;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Grechen Fuemen', sans-serif;
}
.developerPLetter {
  font-size: 88px;
  font-weight: 400;
  color: rgb(220, 220, 220);
  background-color: rgb(77, 63, 47);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.developerEThreeLetter {
  font-size: 58px;
  font-weight: normal;
  color: ForestGreen;
  background-color: aliceblue;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.developerRLetter {
  font-size: 40px;
  font-weight: bold;
  color: rgb(71, 114, 114);
  background-color: beige;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}

/* TAKE word */

.takeTLetter {
  font-size: 70px;
  font-weight: 700;
  color: rgb(176, 224, 230);
  background-color: teal;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.takeALetter {
  font-size: 65px;
  font-weight: bold;
  color: DeepPink;
  background-color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.takeKLetter {
  font-size: 30px;
  font-weight: bold;
  color: DarkViolet;
  background-color: wheat;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.takeELetter {
  font-size: 60px;
  font-weight: normal;
  color: Bisque;
  background-color: steelblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}

/* UP word */

.upULetter {
  font-size: 70px;
  font-weight: bold;
  color: Orchid;
  background-color: cadetblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ceviche', sans-serif;
}
.upPLetter {
  font-size: 50px;
  font-weight: bold;
  color: Cornsilk;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Caveat', sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 60px;
  font-weight: normal;
  color: LavenderBlush;
  background-color: violet;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazzolla', sans-serif;
}
.gardeningALetter {
  font-size: 70px;
  font-weight: bold;
  color: DarkCyan;
  background-color: azure;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Caveat', sans-serif;
}
.gardeningRLetter {
  font-size: 50px;
  font-weight: bold;
  color: Seashell;
  background-color: chocolate;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.gardeningDLetter {
  font-size: 80px;
  font-weight: normal;
  color: Moccasin;
  background-color: rgb(77, 47, 77);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.gardeningELetter {
  font-size: 55px;
  font-weight: 700;
  color: LightGoldenRodYellow;
  background-color: #2d2f49;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.gardeningNLetter {
  font-size: 25px;
  font-weight: bold;
  color: PaleVioletRed;
  background-color: yellow;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.gardeningILetter {
  font-size: 50px;
  font-weight: normal;
  color: LightCoral;
  background-color: rgb(41, 90, 13);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.gardeningNTwoLetter {
  font-size: 80px;
  font-weight: 700;
  color: DarkOrange;
  background-color: rgb(38, 59, 77);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.gardeningGTwoLetter {
  font-size: 68px;
  font-weight: 400;
  color: Chartreuse;
  background-color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 80px;
  font-weight: normal;
  color: rgb(123, 228, 228);
  background-color: rgb(37, 43, 49);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}
.becauseELetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(72, 61, 139);
  background-color: bisque;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Grechen Fuemen', sans-serif;
}
.becauseCLetter {
  font-size: 70px;
  font-weight: 400;
  color: RosyBrown;
  background-color: rgb(19, 94, 57);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseALetter {
  font-size: 50px;
  font-weight: 400;
  color: BlueViolet;
  background-color: rgb(141, 116, 69);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.becauseULetter {
  font-size: 70px;
  font-weight: bold;
  color: DarkSlateBlue;
  background-color: skyblue;
  text-decoration: 400;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}
.becauseSLetter {
  font-size: 60px;
  font-weight: 700;
  color: DarkGoldenRod;
  background-color: rgb(224, 96, 64);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Asap', sans-serif;
}
.becauseETwoLetter {
  font-size: 60px;
  font-weight: normal;
  color: OliveDrab;
  background-color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

/* THEY word */

.theyTLetter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(175, 238, 238);
  background-color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.theyHLetter {
  font-size: 90px;
  font-weight: normal;
  color: DarkCyan;
  background-color: blanchedalmond;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.theyELetter {
  font-size: 30px;
  font-weight: bold;
  color: SlateGray;
  background-color: yellow;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}
.theyYLetter {
  font-size: 70px;
  font-weight: 700;
  color: OldLace;
  background-color: rgb(94, 94, 52);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 40px;
  font-weight: bold;
  color: GreenYellow;
  background-color: rgb(207, 179, 207);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedALetter {
  font-size: 78px;
  font-weight: 400;
  color: DimGray;
  background-color: tan;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.wantedNLetter {
  font-size: 55px;
  font-weight: 700;
  color: RebeccaPurple;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.wantedTLetter {
  font-size: 60px;
  font-weight: 400;
  color: PapayaWhip;
  background-color: #58a829;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.wantedELetter {
  font-size: 40px;
  font-weight: normal;
  color: rgb(85, 107, 46);
  background-color: rgb(207, 179, 207);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedDLetter {
  font-size: 60px;
  font-weight: normal;
  color: HotPink;
  background-color: white;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}

/* TO word */

.toTLetter {
  font-size: 60px;
  font-weight: normal;
  color: LightSteelBlue;
  background-color: rgb(21, 57, 87);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.toOLetter {
  font-size: 40px;
  font-weight: 400;
  color: PeachPuff;
  background-color: rgb(121, 41, 45);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}

/* IMPROVE word */

.improveILetter {
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 99, 71);
  background-color: rgb(49, 90, 124);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}

.improveMLetter {
  font-size: 40px;
  font-weight: 700;
  color: rgb(212, 77, 77);
  background-color: azure;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.improvePLetter {
  font-size: 50px;
  font-weight: normal;
  color: BlueViolet;
  background-color: yellow;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}
.improveRLetter {
  font-size: 20px;
  font-weight: bold;
  color: IndianRed;
  background-color: slateblue;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}
.improveOLetter {
  font-size: 40px;
  font-weight: 700;
  color: MintCream;
  background-color: chocolate;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.improveVLetter {
  font-size: 60px;
  font-weight: normal;
  color: Peru;
  background-color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.improveELetter {
  font-size: 20px;
  font-weight: bold;
  color: SeaGreen;
  background-color: violet;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

/* THEIR word */

.theirTLetter {
  font-size: 60px;
  font-weight: 700;
  color: SaddleBrown;
  background-color: rgb(247, 17, 247);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.theirHLetter {
  font-size: 90px;
  font-weight: 400;
  color: rgb(72, 61, 139);
  background-color: rgb(247, 210, 163);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.theirELetter {
  font-size: 60px;
  font-weight: bold;
  color: DarkGray;
  background-color: blue;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.theirILetter {
  font-size: 85px;
  font-weight: normal;
  color: Teal;
  background-color: rgb(162, 226, 33);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
}
.theirRLetter {
  font-size: 50px;
  font-weight: 700;
  color: DarkOrchid;
  background-color: tomato;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* ROOT word */

.rootRLetter {

  font-size: 45px;
  font-weight: 400;
  color: Fuchsia;
  background-color: aquamarine;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.rootOLetter {
  font-size: 30px;
  font-weight: bold;
  color: FireBrick;
  background-color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Asap', sans-serif;
}
.rootOTwoLetter {
  font-size: 75px;
  font-weight: 400;
  color: DodgerBlue;
  background-color: blueviolet;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.rootTLetter {
  font-size: 60px;
  font-weight: normal;
  color: Gainsboro;
  background-color: cadetblue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 30px;
  font-weight: normal;
  color: DarkSeaGreen;
  background-color: blanchedalmond;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.skillsKLetter {
  font-size: 70px;
  font-weight: 700;
  color: DarkGoldenRod;
  background-color: #58a829;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}
.skillsILetter {
  font-size: 58px;
  font-weight: bold;
  color: DarkCyan;
  background-color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Monomkh', sans-serif;
}
.skillsLLetter {
  font-size: 28px;
  font-weight: normal;
  color: Crimson;
  background-color: violet;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}
.skillsLTwoLetter {
  font-size: 60px;
  font-weight: bold;
  color: BlanchedAlmond;
  background-color: teal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Oswald', sans-serif;
}
.skillsSTwoLetter {
  font-size: 78px;
  font-weight: normal;
  color: AliceBlue;
  background-color: rgb(216, 102, 9);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Monomkh', sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 85px;
  font-weight: normal;
  color: BurlyWood;
  background-color: goldenrod;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Grechen Fuemen', sans-serif;
}
.exclamation-mark {
  font-size: 90px;
  font-weight: normal;
  color: rgb(197, 197, 36);
  background-color: rgb(119, 92, 43);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
}
.question-mark {
  font-size: 80px;
  font-weight: normal;
  color: Chocolate;
  background-color: ghostwhite;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
